# Libraries

In [24]:
import numpy as np 
import sklearn
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data preparation

In [11]:
df = pd.read_csv(r"C:\Users\Taha\Desktop\Machine_Learning\Datastes\cars_dataset.csv")
df.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh   two     two    small    low  unacc
1  vhigh  vhigh   two     two    small    med  unacc
2  vhigh  vhigh   two     two    small   high  unacc
3  vhigh  vhigh   two     two      med    low  unacc
4  vhigh  vhigh   two     two      med    med  unacc

In [12]:
df.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car'], dtype='object')

In [20]:
df['car'].value_counts

<bound method IndexOpsMixin.value_counts of 0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: car, Length: 1728, dtype: object>